.DS_Store
03_js_basic/010_npm_cli/node_modules/*
04_react_basic/extra_src/03_create_react_app/sample-react/node_modules/*
04_react_basic/node_modules/*
05_state_and_event/node_modules/*
06_control_and_form/node_modules/*
07_styling_component/node_modules/*
